body{
	font-family: sans-serif;
	background: #d5f0f3;
}
 
h1{
	text-align: center;
	/*ketebalan font*/
	font-weight: 300;
	font-size: 30px;
}
 
.tulisan_login{
	text-align: center;
	/*membuat semua huruf menjadi kapital*/
	text-transform: uppercase;
}
 
.kotak_login{
	width: 350px;
	height: 400px;
	background: none ;
	/*meletakkan form ke tengah*/
	margin: 200px auto;
	padding: 30px 20px;
	outline: none;
}
 
label{
	font-size: 10pt;
}
 
.form_login{
	/*membuat lebar form penuh*/
	width: 50%;
	padding: 100px;
	height: 10px;
	font-size: 55pt;
	margin-bottom: 20px;
}
 
.tombol_login{
	background: #46de4b;
	color: white;
	font-size: 15pt;
	width: 50%;
	height: 50px;
	border: none;
	border-radius: 50px;
	padding: 5px 6px;
}



.info{
	font-size: 15px;
	text-align: center;
}

input{
	height: 30px;
	width: 100%;
	border-radius: 50px;
}
 
 .tenah{
 	text-align: center;
 }